<!--INDEX page-->

<!--include header from views/partials-->
<% include ./partials/header %>

<h1>Index Page !</h1>

<!--loop through each blog object, show its contents(attributes)-->
<%= blogs.forEach(function(blog){%>
    <div>
        <h2><%=blog.title%></h2>
        <img src="<%=blog.image%>">
        <span><%=blog.created%></span>
        
        <!--show only part of blogs-->
        <p><%= blog.body.substring(0,100) %>...</p>
        <a href="/blogs/<%= blog._id %>">Read More</a>
    </div>

<% }) %>

<!--include footer from views/partials-->
<% include ./partials/footer %>